*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.navcontainer{
  background-color: rgb(225, 234, 255);
  height: 8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logobox{
  background-color: rgb(153, 153, 153);
  width: 100px;
  height: 40px;
  margin-left: 2em;
}
.navcontainer #navmenu{
  display: none;
}
.navcontainer a{
  color: rgb(39, 122, 255);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navcontainer a.icon{
  margin-right: 50px;

}
.navcontainer i{
  font-size: 30px;
}
.contentbox{
  background-color: rgb(214, 211, 255);
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid rgb(4, 0, 255); */
}
.contentbox h1{
  font-size: 50px;
  width: 100%;
  height: 100px;
  color: #7291af;
  /* border: 1px solid red; */
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentbox span{
  color: #909090;
}
.contentbox p{
  font-size: 20px;
  font-family:'Nanum Gothic', sans-serif;
  /* margin-left: 140px; */
  margin-top: 100px;
  /* border: 1px solid red; */
  color: #9ca8b4;
}
.underline{
  background-color: #8f8f8f;
  width: 50px;
  height: 5px;
}
.projectbox{
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: 1px solid red; */
}
.project{
  width: 100%;
  height: 200px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}
.project p{
  margin-top: 30px;
  font-size: 20px;
  font-family:'Nanum Gothic', sans-serif;
  margin-left: 20px;
  color: #adadad;
  /* border: 1px solid red; */
}
.info1{
  background-color: rgb(214, 222, 255);
}
.info2{
  background-color: rgb(199, 211, 255);
}
.info3{
  background-color: rgb(183, 199, 255);
}
.info4{
  background-color: rgb(169, 185, 255);
}

.gallerybox{
  width: 100%;
  height: 1200px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}
.gallerysection{
  width: 100%;
  height: 400px;
  border: 1px solid rgb(174, 189, 255);
}
.servicebox{
  background-color: rgb(218, 225, 255);
  width: 100%;
  height: 400px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}
.servicetext{
  width: 50%;
  height: 50%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.servicetext h3{
  font-size: 30px;
  color: #7291af;
  margin-bottom: 20px;
}
.servicetext p{
  font-size: 25px;
  font-family:'Nanum Gothic', sans-serif;
  color: #b1b1b1;
}
.imagebox{
  background-color: rgb(153, 160, 255);
  width: 50%;
  height: 200px;
}
.gallerybox span{
  color: #838383;
}
.footer{
  background-color: rgb(181, 186, 255);
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footbox01{
  background-color: rgb(220, 229, 255);
  width: 70%;
  height: 200px;
}
.footbox02{
  background-color: rgb(220, 229, 255);
  width: 70%;
  height: 200px;
}
.navbox{
  background-color:rgb(183, 187, 255);
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* border: 1px solid red; */
}
.libox{
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}
.navbox li{
  background-color:rgb(255, 255, 255) ;
  width: 50px;
  height: 50px;
  border-radius: 30em;
  order: 1;
  margin: 20px;
   /* border: 1px solid red; */
}
.navbox p{
  font-size: 30px;
}

@media screen and (min-width: 768px){
    .projectbox{
      display: flex;
      flex-direction: row;
      /* flex-wrap: wrap; */
    }
    .project{
      width: 50%;
      height: 400px;
      order: 1;
    }
    .servicebox{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      /* border: 1px solid rgb(38, 0, 255); */
    }
    .imagebox{
      width: 50%;
      height: 200px;
      /* border: 1px solid rgb(38, 0, 255); */
    }
    .footbox01{
      background-color: rgb(220, 229, 255);
      width: 70%;
      height: 200px;
    }
    .footbox02{
      background-color: rgb(220, 229, 255);
      width: 40%;
      height: 200px;
    }

}
@media screen and (min-width: 1024px) {
  .projectbox{
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
  }
  .project{
    width: 25%;
    height: 400px;
    order: 1;
  }
  .imagebox{
    width: 20%;
    height: 200px;
    /* border: 1px solid rgb(38, 0, 255); */
  }
  .footer{
    background-color: rgb(181, 186, 255);
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
  }
  .footbox01{
    background-color: rgb(220, 229, 255);
    width: 300px;
    height: 200px;
    /* border: 1px solid red; */
    margin-left: 100px;
  }
  .footbox02{
    background-color: rgb(220, 229, 255);
    width: 300px;
    height: 200px;
    /* border: 1px solid red; */
    margin-left: 100px;
  }
  .navbox{
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */

  }
}

